<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <h1>Welcome To Login Page</h1>
    <form method="POST" action="/user/login">
      <label>Enter Email Id :- </label>
      <input type="email" required name="email" />
      <label>Enter Your Password :- </label>
      <input type="password" required name="password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
